@import "./css/base.css";

.speakers .main_title {
  font-size: 98px;
}
.shopping-card-icon-primary g path {
  fill: var(--color-primary);
}

.speakers_wrapper {
  /* display: flex;
  flex-wrap: wrap;
  row-gap: 10px; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.speaker__wrapper {
  max-width: 460px;
}

.speaker__photo {
  width: 310px;
  height: 310px;
  object-fit: cover;
  margin-bottom: 36px;
}

.speaker__photo--top {
  object-position: top;
}

.speaker__name {
  font-size: 32px;
  margin-bottom: 20px;
}
.speaker__company {
  font-size: 24px;
  margin-bottom: 20px;
}

.speaker__bio {
  font-size: 24px;
}

.speaker__company,
.speaker__bio {
  color: var(--color-text-on-secondary);
}

@media (width <= 1000px) {
  .speakers_wrapper {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 840px) {
  .header .nav {
    background: var(--color-text-on-primary);
  }
}
